.head{
    margin: 100px;
}
.title{
    display: block
    justify-content: space-between;
}
.hero{
    color: #131318;

font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.travel{
    color: #FF5400;
}
.fronthead{
    
    display: flex;
    justify-content: space-between;
}
.banner{
    background-image: url('Images/Group\ 13\ \(1\)\ \(1\).png');
    width: 1170px;
height: 500px;
}
.select{
    display: inline-flex;
    width: 174px;
height: 52px;  
margin-right: 500px;
margin-top: 50px;

}
.explore{
    text-align: center;
}
.headline{
    color: #FFF;

font-family: Mulish;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.pera{
    color: #FFF;

text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.main-div{
    display: flex;
}
.tours{
    color: #131318;

text-align: center;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.description{
    color: rgba(19, 19, 24, 0.70);

    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.first{
    width: 540px;
    height: 550px 
}






@media screen and (max-width:576px) {
  
.banner{
    width: 100%;
    height: auto;
}
   .select{
    display: grid;
    grid-column: column;
    gap: 10px;
     
   }
   .main-div{
    width: 100%;
    display: grid;
    grid-column: column;
    
   }
}

